---
import { sequence } from 'astro:middleware';
import { slide } from 'astro:transitions';

interface Props {
    size: number;
}

const { size } = Astro.props;
---

<div style={{ width: `${size}px`, height: `${size}px` }}>
    <svg
        version="1.0"
        xmlns="http://www.w3.org/2000/svg"
        width={size}
        height={size}
        viewBox=`6 30 ${size} ${size}`
        preserveAspectRatio="xMidYMid meet"
    >
        <g
            transform="translate(0.000000,121.000000) scale(0.100000,-0.100000)"
            fill="#000000"
            stroke="none"
        >
            <path
                d="M296 782 c-7 -12 4 -52 15 -52 12 0 12 47 0 55 -5 3 -12 2 -15 -3z"
            ></path>
            <path
                d="M364 765 c-7 -29 -1 -41 15 -30 14 8 14 55 1 55 -5 0 -12 -11 -16
    -25z"
            ></path>
            <path
                d="M384 617 c-212 -183 -234 -203 -234 -217 0 -17 16 -5 215 165 103 88
    193 161 200 163 7 2 102 -73 211 -167 171 -147 225 -185 212 -151 -2 4 -39 39
    -84 76 -44 38 -128 110 -185 160 -57 50 -116 98 -130 108 l-26 16 -179 -153z"
            ></path>
            <path
                d="M426 744 c-11 -30 -6 -37 14 -19 11 10 20 22 20 27 0 15 -28 9 -34
    -8z"
            ></path>
            <path
                d="M230 737 c0 -18 28 -42 37 -33 9 8 -9 38 -25 44 -7 2 -12 -3 -12 -11z"
            ></path>
            <path
                d="M175 690 c-7 -12 42 -36 53 -26 4 4 -2 14 -12 22 -23 17 -33 18 -41
    4z"
            ></path>
            <path
                d="M304 691 c-38 -17 -64 -60 -64 -108 0 -57 24 -54 26 2 2 54 39 85
    102 85 32 0 43 3 36 10 -15 15 -75 21 -100 11z"
            ></path>
            <path
                d="M777 683 c-10 -10 -8 -53 2 -53 5 0 11 9 14 21 4 16 12 20 34 17 27
    -3 28 -6 31 -60 2 -45 7 -58 19 -58 13 0 15 9 9 62 -4 34 -10 66 -12 70 -6 10
    -88 11 -97 1z"
            ></path>
            <path
                d="M152 618 c5 -15 48 -18 48 -3 0 6 -11 11 -26 13 -18 3 -25 0 -22 -10z"
            ></path>
            <path
                d="M155 549 c-4 -6 -5 -13 -1 -16 8 -8 56 6 56 17 0 13 -47 13 -55 -1z"
            ></path>
            <path
                d="M512 527 c-28 -29 -28 -67 -1 -101 33 -43 99 -35 125 15 40 78 -64
    150 -124 86z m99 -30 c8 -14 8 -26 0 -44 -9 -19 -17 -24 -43 -21 -37 4 -53 26
    -44 61 10 40 67 43 87 4z"
            ></path>
            <path
                d="M227 406 c-11 -27 -8 -366 3 -386 10 -19 20 -20 333 -20 238 0 326 3
    335 12 15 15 17 394 2 403 -6 4 -11 -51 -12 -147 l-3 -153 -105 0 -105 0 -5
    70 -5 70 -100 0 -100 0 -3 -72 -3 -73 -104 0 -105 0 0 155 c0 138 -7 183 -23
    141z m423 -276 l0 -100 -80 0 -80 0 0 100 0 100 80 0 80 0 0 -100z m-190 -75
    l0 -25 -105 0 -105 0 0 25 0 25 105 0 105 0 0 -25z m420 0 c0 -25 0 -25 -99
    -25 -71 0 -101 4 -104 13 -11 31 5 37 104 37 99 0 99 0 99 -25z"
            ></path>
            <path
                d="M335 230 c3 -5 12 -10 20 -10 8 0 17 5 20 10 4 6 -5 10 -20 10 -15 0
    -24 -4 -20 -10z"
            ></path>
            <path
                d="M760 230 c0 -5 6 -10 14 -10 8 0 18 5 21 10 3 6 -3 10 -14 10 -12 0
    -21 -4 -21 -10z"
            ></path>
        </g>
    </svg>
</div>
